<nav>
  <div class="nav-wrapper container">
    <a href=<%=	admin_index_path  %> class="brand-logo">Administration</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href=<%= welcome_index_path %>>Front-Page</a></li>
      <li><a href=<%=	nouns_path         %>>Nouns</a></li>
      <li><a href=<%=	adjectives_path    %>>Adjectives</a></li>
      <li><a href=<%=	phrases_path       %>>Phrases</a></li>
    </ul>
  </div>
</nav>